.bannerSection {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 120px 0;
}

.bannerContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.buttonGroup {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 500px;
} 


@media screen and (max-width: 991px) {
  .bannerSection {
    padding-top: 80px !important;
    padding-bottom: 10px !important;
  }
  
}